boto3
botocore
certifi
charset-normalizer
colorama
et-xmlfile
geographiclib
geopy
idna
iniconfig
jmespath
numpy
openpyxl
packaging
pandas
pluggy
pyarrow
pytest
python-dateutil
python-dotenv
pytz
requests
s3transfer
six
tzdata
urllib3
taskipy